<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdhY38rq2VR5agAz-4TVXJviOMjUdrR4U</string>
	<key>GCM_SENDER_ID</key>
	<string>506927820017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usueAppRate2</string>
	<key>PROJECT_ID</key>
	<string>flutterusue</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterusue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506927820017:ios:3ca12e5a437d1582e2cd50</string>
</dict>
</plist>